venv/
PizzaPyWebApp/js_lib/node_modules
PizzaPyWebApp/backend/__pycache__
PizzaPyWebApp/backend/migrations
PizzaPyWebApp/frontend/__pycache__
# .gitignore content
__pycache__/
migrations/

.history

node_modules/
__pycache__/
bun.lockb

.env