<div class="relative flex flex-col items-center justify-center w-full min-h-screen">
    <img src="../../static/images/python-3d.png" alt="PizzaPy Logo"
        class="absolute scale-[1.5] md:scale-[2.0] lg:scale-[3.5] rotate-[11deg] opacity-30 blur-xl -z-50 lg:right-[30%]" />
    <div class="flex flex-col items-center gap-10 p-6 sm:gap-20 md:p-28">
        <div class="flex flex-col items-center w-full">
            <p class="text-4xl font-extrabold text-center text-base-content sm:text-6xl md:text-7xl">
                A
                Python User Group</p>
            <h2 class="text-4xl font-extrabold text-center text-yellow-500 sm:text-6xl md:text-7xl">
                based in Cebu, Philippines</h2>
        </div>
        <p class="w-full text-sm text-center dark:text-gray-300 sm:w-3/4 sm:text-base md:text-lg">
            Numbered among us are team members from various tech companies,
            students, freelancers, instructors, and individuals from other industries.
            We welcome any enthusiast regardless of race, gender, and even skill level.
        </p>

    </div>
    <div class="flex justify-center p-4 ">
        <img src="../../../static/images/748x498.png" alt="Team Photo" class="w-full rounded-lg shadow-lg">
    </div>
</div>