{% extends 'base.html' %}

{% block title %}
The Pizzapy User Group
{% endblock %}

{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/about_us/hero.html' %}

<div class="flex flex-col items-center w-full relative bg-[#010d1e] overflow-x-hidden">

    <div class="flex flex-col items-center w-full gap-16 px-20 py-20">
        <!-- Partner Community Logos -->
        <div class="flex flex-col items-center gap-8">
            <p class="text-center text-[24px] font-bold text-[#b3b8c3]">Special thanks to our partner communities</p>
        </div>
        <div class="flex flex-wrap justify-center px-6 gap-x-8 gap-y-16">
            <!-- Placeholder divs for logos of partner communities -->
            <!-- Example: <div class="w-24 h-24 bg-[url('/path/to/logo.png')] bg-cover"></div> -->
        </div>

        <div class="flex flex-col items-center gap-8">
            <p class="text-center text-[24px] font-bold text-[#b3b8c3]">and our affiliated communities & organizations
            </p>
        </div>
        <div class="flex flex-wrap justify-center px-6 gap-x-8 gap-y-16">
            <img src="../static/images/107x40.png" class="w-[107px] h-[40px]" alt="CIB-o logo">
            <img src="../static/images/80.png" class="w-20 h-20" alt="Python PH logo">
            <!-- Placeholder for Philippine Tech logo -->
        </div>
    </div>

    {% include 'partials/timeline.html' %}


    <div class="text-center text-[56px] font-extrabold text-white">And further beyond...</div>

    <!-- Event Section Images -->
    <div class="flex flex-col items-start gap-2.5 p-20">
        <div class="flex items-start w-full">
            <!-- Placeholder for picture -->
            <div class="flex flex-col items-start p-20 bg-[#010d1e] flex-grow">
                <div class="flex flex-col items-start w-full gap-4">
                    <div class="text-[20px] font-bold text-[#ffba33]">OUR EVENTS</div>
                    <div class="text-[56px] font-extrabold text-white">Browse our past events.</div>
                </div>
                <p class="text-[18px] text-white">
                    Here are some of our past events and meet ups. If you’d like to catch up on our upcoming events,
                    please visit our event page.
                </p>
                <button
                    class="mt-4 flex items-center justify-center w-64 px-4 py-4 bg-[#5247ff] rounded-lg border border-solid border-[#434e62]">
                    <span class="text-[20px] font-medium text-white">View our Events</span>
                </button>
            </div>
        </div>
        <div class="flex items-start w-full gap-2.5">
            <!-- Additional placeholders for more pictures -->
            <div class="flex items-center justify-center w-1/4 bg-gray-300 h-60">
                <img src="../static/images/150.png" alt="Image Placeholder" class="max-w-full max-h-full">
            </div>
            <div class="flex items-center justify-center w-1/4 bg-gray-300 h-60">
                <img src="../static/images/150.png" alt="Image Placeholder" class="max-w-full max-h-full">
            </div>
            <div class="flex items-center justify-center w-1/4 bg-gray-300 h-60">
                <img src="../static/images/150.png" alt="Image Placeholder" class="max-w-full max-h-full">
            </div>
            <div class="flex items-center justify-center w-1/4 bg-gray-300 h-60">
                <img src="../static/images/150.png" alt="Image Placeholder" class="max-w-full max-h-full">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}