<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
</head>

<body class="w-screen overflow-x-hidden text-gray-800 bg-gray-100 dark:bg-gray-900 dark:text-white">
  <header class="sticky top-0 left-0 w-full overflow-x-hidden text-white bg-slate-700 dark:bg-slate-800">
    {% block header %} {% endblock %}
  </header>

  <main class="flex flex-col items-center justify-center w-full overflow-x-hidden text-gray-900 dark:text-gray-200">
    {% block content %} {% endblock %}
  </main>

  <footer class="w-screen overflow-x-hidden text-center text-gray-900 bg-white dark:bg-gray-800 dark:text-white">
    {% block footer %} {% endblock %}
  </footer>

  <!-- Theme Switching Script -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const themeCheckbox = document.getElementById('theme-toggle');
      if (themeCheckbox) {
        // Update checkbox state based on the current theme
        themeCheckbox.checked = localStorage.getItem('theme') === 'dark' || document.documentElement.getAttribute('data-theme') === 'dark';

        themeCheckbox.addEventListener('change', function () {
          const newTheme = this.checked ? 'dark' : 'light';
          document.documentElement.setAttribute('data-theme', newTheme);
          localStorage.setItem('theme', newTheme);
        });
      }

      // Optionally load the theme from localStorage
      const storedTheme = localStorage.getItem('theme') || 'light';
      document.documentElement.setAttribute('data-theme', storedTheme);
      themeCheckbox.checked = storedTheme === 'dark';
    });
  </script>

</body>

</html>