<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PIZZAPY WEBSITE</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
</head>

<body>
  <div class="">{% block content %} {% endblock %}</div>
  <button class="btn btn-primary">Primary</button>
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
</body>

</html>