{% extends 'base.html' %}

{% block title %}
PizzaPy Cebu Python Users Group
{% endblock %}

{% block content %}
{% include 'partials/header.html' %}

<div class="relative flex flex-col items-center w-full bg-primary">
    <!-- <img class="absolute w-[924px] h-[985px] top-[11px] left-[593px] object-cover" src="img/python-3d-image.png" /> -->
    <div class="flex flex-col items-start justify-center gap-[80px] w-full px-[80px] py-[80px] pb-[120px]">
        {% include 'partials/happening_test.html' with event=first_event %}
        {% include 'partials/upcoming-events-test.html' with events=other_events %} </div>
</div>

{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}