<footer
    class="flex flex-col items-center justify-between w-full px-4 py-4 border-t bg-base-200 text-base-content border-base-300 sm:flex-row sm:px-10 sm:py-8">
    <!-- Left Side: Links -->
    <div
        class="flex flex-col items-center gap-2 mb-4 text-xs sm:flex-row sm:gap-4 sm:mb-0 sm:text-sm md:text-base md:gap-6">
        <a href="#yourlink" class="hover:text-primary">PizzaPy © 2025</a>
        <a href="#yourlink" class="hover:text-primary">Terms of Service</a>
        <a href="#yourlink" class="hover:text-primary">Privacy Policy</a>
    </div>

    <!-- Right Side: Social Media Icons -->
    <div class="flex items-center justify-center gap-2 sm:justify-end sm:gap-4">
        <a href="#yourlink" aria-label="Facebook" class="hover:text-primary">
            <!-- Light mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-gray-800 dark:text-white">
                <use xlink:href="../../static/css/icons.svg#facebook-light"></use>
            </svg>
            <!-- Dark mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="hidden w-6 h-6 text-white fill-current dark:block">
                <use xlink:href="../../static/css/icons.svg#facebook"></use>
            </svg>
        </a>
        <a href="#yourlink" aria-label="LinkedIn" class="hover:text-primary">
            <!-- Light mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="w-6 h-6 text-black fill-current dark:hidden">
                <use xlink:href="../../static/css/icons.svg#linkedin"></use>
            </svg>
            <!-- Dark mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="hidden w-6 h-6 text-white fill-current dark:block">
                <use xlink:href="../../static/css/icons.svg#linkedin"></use>
            </svg>
        </a>
        <a href="#yourlink" aria-label="Meetup" class="hover:text-primary">
            <!-- Light mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="w-6 h-6 text-black fill-current dark:hidden">
                <use xlink:href="../../static/css/icons.svg#meetup"></use>
            </svg>
            <!-- Dark mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="hidden w-6 h-6 text-white fill-current dark:block">
                <use xlink:href="../../static/css/icons.svg#meetup"></use>
            </svg>
        </a>
        <a href="#yourlink" aria-label="GitHub" class="hover:text-primary">
            <!-- Light mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="w-6 h-6 text-black fill-current dark:hidden">
                <use xlink:href="../../static/css/icons.svg#github"></use>
            </svg>
            <!-- Dark mode SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                class="hidden w-6 h-6 text-white fill-current dark:block">
                <use xlink:href="../../static/css/icons.svg#github"></use>
            </svg>
        </a>
    </div>
</footer>