<div class="px-10 navbar bg-base-100">
  <div class="navbar-start">
    {% include 'partials/nav-bar.html' %}
    <img src="../../static/images/pizzapy.png" alt="PizzaPy Logo" class="object-contain w-24 h-24" />
  </div>

  <!-- Hide on small screens, show on medium screens and up -->
  <div class="hidden sm:flex navbar-center">
    <div class="flex-none">
      <ul class="px-1 text-white menu menu-horizontal ">
        <li><a href="#about">About Us</a></li>
        <li><a href="#community">Community</a></li>
        <li><a href="#events">Events</a></li>
      </ul>
    </div>
  </div>

  <div class="flex navbar-end">
    {% include 'partials/theme-changer.html' %}
    <button class="btn btn-outline btn-info">Contact Us</button>
  </div>
</div>