<div>
    <label class="z-0 swap swap-rotate">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" class="theme-controller" value="synthwave" />
        <!-- sun icon -->
        <svg class="w-10 h-10 fill-current swap-off" width="100" height="100">
            <use xlink:href="../../static/css/icons.svg#sun"></use>
        </svg>
        <!-- moon icon -->
        <svg class="w-10 h-10 fill-current swap-on" width="100" height="100">
            <use xlink:href="../../static/css/icons.svg#moon"></use>
        </svg>
    </label>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const themeCheckbox = document.querySelector(".theme-controller");

        // Check localStorage for the theme preference and set it if it exists
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme) {
            document.documentElement.classList.add(savedTheme);
            themeCheckbox.checked = savedTheme === "dark";
        }

        themeCheckbox.addEventListener("change", function () {
            if (this.checked) {
                document.documentElement.classList.add("dark");
                document.documentElement.classList.remove("light");
                // Store the theme preference in localStorage
                localStorage.setItem("theme", "dark");
            } else {
                document.documentElement.classList.add("light");
                document.documentElement.classList.remove("dark");
                // Store the theme preference in localStorage
                localStorage.setItem("theme", "light");
            }
        });
    });
</script>