<div class="flex flex-col items-center justify-center w-full overflow-x-hidden sm:flex-row">
    <div class="flex flex-col items-center justify-center w-full p-4 sm:w-1/2">
        {% block left_column %}
        <!-- Default or placeholder content for left column -->
        {% endblock %}
    </div>
    <div class="flex flex-col items-center justify-center w-full p-4 sm:w-1/2">
        {% block right_column %}
        <!-- Default or placeholder content for right column -->
        {% endblock %}
    </div>
</div>