<div class="container px-4 py-12 mx-auto">
    <div class="flex flex-col items-center gap-12 md:flex-row">
        <!-- Text Content Section -->
        <div class="md:flex-1">
            <h2 class="mb-2 text-lg font-bold text-yellow-500">ABOUT US</h2>
            <h1 class="mb-6 text-4xl font-bold">Get to know us.</h1>
            <p class="mb-4 text-xl">
                Numbered among us are team members from various tech companies, students, freelancers, instructors, and
                individuals from other industries. As a community, our main focus is on sharing knowledge. We share
                solutions and discuss problems.
            </p>
            <div class="mb-4">
                <h3 class="mb-2 text-2xl font-semibold">We have experts in:</h3>
                <ul class="grid gap-4 list-disc list-inside sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Web Development</span>
                    </li>
                    <li class="flex items-center">
                        <svg class="w-5 h-5 text-yellow-300" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Cloud Computing</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Artificial Intelligence</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Internet of Things</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Game Development</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">Blockchain</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">System Design</span>
                    </li>
                    <li class="flex items-center">
                        <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                            <use xlink:href="../../../static/css/icons.svg#checks"></use>
                        </svg>
                        <span class="ml-2">and many more!</span>
                    </li>
                </ul>
            </div>
            <button class="px-4 py-2 font-bold bg-purple-600 rounded hover:bg-purple-800">
                About Us
            </button>
        </div>

        <!-- Image Section -->
        <div class="md:flex-1">
            <img src="../../../static/images/748x498.png" alt="Team Photo" class="rounded-lg shadow-lg">
        </div>
    </div>
</div>