<div class="py-12 lg:px-20">
    <div class="container grid grid-cols-1 gap-8 px-4 mx-auto md:grid-cols-1 lg:grid-cols-2">
        <!-- Text Content Section -->
        <div class="">
            <h2 class="text-lg font-bold text-yellow-500">ABOUT US</h2>
            <h1 class="text-4xl font-bold">Get to know us.</h1>
            <p class="mt-4 text-xl">
                Numbered among us are team members from various tech companies, students, freelancers, instructors, and
                individuals from other industries. As a community, our main focus is on sharing knowledge. We share
                solutions and discuss problems.
            </p>
            <h3 class="mt-8 text-2xl font-semibold">We have experts in:</h3>
            <ul class="grid grid-cols-1 gap-4 mt-4 text-lg list-none sm:grid-cols-2 lg:grid-cols-3">
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Web Development</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Cloud Computing</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Blockchain</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Artificial Intelligence</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Internet of Things</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">System Design</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Data Science</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">Game Development</span>
                </li>
                <li class="flex items-center">
                    <svg fill="none" class="w-5 h-5 text-yellow-500" viewBox="0 0 24 24">
                        <use xlink:href="../../../static/css/icons.svg#checks"></use>
                    </svg>
                    <span class="ml-2">and many more!</span>
                </li>
            </ul>
            <a href="https://facebook.com/pizzapycebu" target="_blank" rel="noopener noreferrer"
                class="inline-block px-6 py-3 mt-8 text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">
                About Us
            </a>
        </div>
        <!-- Image Section -->
        <div class="flex justify-center p-4 ">
            <img src="../../../static/images/748x498.png" alt="Team Photo" class="w-full rounded-lg shadow-lg">
        </div>
    </div>
</div>